@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #1f1f1f;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    z-index: 1;
    margin-top: 150px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    width: 80vw;
    box-shadow: 2px 2px 17px 3px #000;
    border-radius: 15px;
}

.sectionImage {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sectionImage img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sectionTitle {
    background-color: #363636;
    color: white;
    padding: 10px;
    padding: 15px;
    margin: 0;
    width: 100%;
    height: auto;
}

.sectionTitle .sectionOpenTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sectionTitle .sectionOpenTitle button {
    background-color: #212121;
    padding: 10px;
    border: 1px solid white;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: none;
    align-items: center;
    justify-content: center;

}

.sectionTitle .sectionOpenTitle button:hover{
    background-color: #fff;
}

.sectionTitle .sectionOpenTitle button img {
    display: none;
    width: 20px;
    filter: invert(1);
}

.sectionTitle .sectionOpenTitle button img:hover{
    filter: invert(0);
}

.sectionTitle h1 {
    font-size: 22pt;
    margin-bottom: 3px;
    font-weight: 900;
    color: #fff;
}

#paragraphs {
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 500px;
}

#paragraphs.hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}


.sectionTitle p {
    font-size: 12pt;
    line-height: 20px;
    margin-top: 18px;
    color: #e3e3e3;
}

.sectionMusic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.subMusic:first-child {
    border-top-right-radius: 15px;
}

.subMusic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #2f2d2d;
    padding: 15px;
    gap: 10px;
}

.subMusic h2 {
    font-size: 14pt;
    color: #2f2d2d;
}

.subMusic button {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #2f2d2d;
    cursor: pointer;
    color: #2f2d2d;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.subMusic button:hover {
    background-color: #2f2d2d;
    color: #fff;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    gap: 7px;
    padding: 15px;
    text-align: center;
}

footer h3 {
    font-size: 12pt;
}

footer p {
    font-size: 10.5pt;
}

@media only screen and (max-width: 1070px) {
    .container {
        width: 90vw;
        margin-top: 90px;
    }
}

@media only screen and (max-width: 940px) {
    .container {
        width: 97vw;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 815px) {
    .container {
        flex-direction: column;
        width: 50vw;
        margin-top: 500px;
    }

    .sectionImage {
        border-radius: 15px;
    }

    .sectionTitle .sectionOpenTitle button {
        display: flex;
    }

    .sectionTitle .sectionOpenTitle button img {
        display: flex;
    }

    .sectionImage img {
        border-radius: 15px;
        display: flex;
    }
}

@media only screen and (max-width: 815px) {
    .container{
        width: 70vw;
    }
}

@media only screen and (max-width: 420px) {
    .container{
        margin-top: 450px;
        width: 80vw;
    }
}

@media only screen and (max-width: 370px) {
    .container {
        width: 100vw;
        margin-top: 400px;
    }
}

@media only screen and (max-width: 320px) {
    .sectionImage img {
        width: 100vw;
        border-radius: 10px;
    }

    .subMusic button {
        padding: 6px;
    }

    footer {
        margin-top: 20px;
    }

    footer h3 {
        font-size: 11pt;
    }

    footer p {
        font-size: 10pt;
    }
}